<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="FreshyTestSuite">

    <listeners>
        <listener class-name="TestListener"/>
    </listeners>

    <test name="Login and Exceptions Tests">
        <classes>
            <class name="LoginTest"/>
            <class name="ExceptionsTest"/>
        </classes>
    </test>

</suite>